background-color = #fff9df
h1
  text-align center
body
  font-family 'Georgia'
  background-color background-color

footer
  width 80%
  margin 50px auto
  border-top 1px dotted #ccc
  font-size 13px
  text-align center