doctype html
html
  head
    title apk &raquo code
    link(rel='stylesheet', href='/css/index.css')
    
  body
    .container
      h1 apk &raquo code
      #btn-circle upload
        input(type='file')
    script(src='https://code.jquery.com/jquery-latest.min.js' type='text/javascript')
    script(src='./scripts/upload.js' type='text/javascript')        