h1 {
  text-align: center;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff9df;
  font-size: 60px;
  font-weight: 200;
}
.btn-circle {
  background-color: #33b5e5;
  line-height: 144px;
  margin: 36px;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  text-align: center;
}
footer {
  width: 80%;
  margin: 50px auto;
  border-top: 1px dotted #ccc;
  font-size: 13px;
  text-align: center;
}
